<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title> Museo del jade</title>

    <link rel="icon" href="src/images/logo.png">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="node_modules/angular1-ui-bootstrap4/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css" >
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/css/main.css">
    <link rel="stylesheet" href="src/css/variables.css">


</head>

<body ng-controller="NavCtrl" >

    <!-- Navbar start -->

    <nav class="navbar navbar-expand-md navbar-light" >

        <a class="navbar-brand" href="#"><img style="width: 150px;" src="src/images/logo.png" alt="Image text"></a>

        <!--Navbar header-->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon "></span>
        </button>


        <div class="collapse navbar-collapse" id="collapse_target">

            <ul class="nav navbar-nav" id="museo_navbar">

                <li class="nav-item">
                    <a class="nav-link">
                        Talleres
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">
                        Eventos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" ng-click="loadExhibiciones()">
                        Exhibiciones
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" ng-click="loadElRecorrido()">
                        El Recorrido
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" >
                        Visitenos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">
                        Aprender
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link">
                        Servicios y Facilidades
                    </a>
                </li>


                <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                    <a class="nav-link" ng-click="loadBoleteria()">
                        Boletería
                    </a>
                </li>

            </ul>

        </div>



        <div class="justify-content-lg-end  d-none d-md-block tickets-button" >
            <button class=" btn btn-primary"  id="boleteria_btn" ng-click="loadBoleteria()">
                <span class="small"> Boletería</span>
            </button>

            <span style="cursor: pointer">
                <i class="fa fa-globe fa-lg"></i>
             </span>
        </div>

    </nav>

    <!-- Navbar End -->


    <!-- View start -->

    <div ng-view ></div>

    <!-- View End -->

    <!-- Footer start -->

    <div class="footer">
        <div class="container-fluid row">
            <div class="col-md-4 mt-2 text-align-footer-first">
                <ul>
                    <li class="list-inline-item">
                        <a class="">
                            <i class="fa fa-facebook-square fa-lg icon-a"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="">
                            <i class="fa fa-twitter-square fa-lg icon-a"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="">
                            <i class="fa fa-instagram fa-lg icon-a"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a>
                            <i class="fa fa-youtube-square fa-lg icon-a"> </i>
                        </a>
                    </li>
                </ul>

                <p class=" default-typography small steam">© 2018 Copyright Museo del Jade</p>
            </div>

            <div class="footer-bottom-links-only  col-md-5 col-sm-12 text-muted default-typography mt-3 small d-none d-xl-block d-lg-block d-md-block text-align-footer-second">
                <ul>
                    <li class="list-inline-item">
                        <a class="pointer steam"> Mapa del sitio </a>
                    </li>

                    <li class="list-inline-item">
                        <a class="pointer steam">| Términos y condiciones </a>
                    </li>

                    <li class="list-inline-item">
                        <a class="pointer steam">| Privacidad  </a>
                    </li>
                </ul>


            </div>

            <div class="col-md-3 text-muted default-typography mt-2 small  text-align-footer-third">
                <ul>
                    <li class="list-inline-item">
                        <span class="pointer steam"> <i class="fa fa-phone fa-fw"></i> Contáctenos: (506)2521-6610 </span>
                    </li>

                    <li class="list-inline-item steam">
                        <span class="pointer d-none d-xl-block d-lg-block d-md-block" style="text-align: start; margin-right: 10px"> <i class="fa fa-location-arrow fa-fw"></i> Calle 13 y 13 bis, Av Central, </span>
                        <span class="pointer d-none d-xl-block d-lg-block d-md-block" style="text-align: start; margin-left: 20px;"> San José, Costa Rica </span>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    <!-- Footer End-->


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="node_modules/angular1-ui-bootstrap4/dist/ui-bootstrap.js"></script>

    <script>
        /* Este es el script para agregar funcionalidad en el index, lo puse aqui porque
         que creo que casi no se va a ocupar*/

        $('#museo_navbar a').click(function(e) {
            $('#museo_navbar a').removeClass('activeNavbar');
            $(this).addClass('activeNavbar');
        });

    </script>

    <script src="src/js/app.js"></script>
    <script src="src/js/NavCtrl.js"></script>
    <script src="src/js/HomeCtrl.js"></script>
    <script src="src/js/services/BoleteriaService.js"></script>
    <script src="src/js/BoleteriaCtrl.js"></script>
    <script src="src/js/ElRecorridoCtrl.js"></script>
    <script src="src/js/ExhibicionesCtrl.js"></script>
    <script src="src/js/ExhibiService.js"></script>
    <script src="src/js/DetalleExhibCtrl.js"></script>
    <script src="src/js/InfoPagoCtrl.js"></script>
    <script src="src/js/PagoExitosoCtrl.js"></script>


</body>
</html>
