<div ng-controller="ElRecorridoCtrl">
	<div class="container">
		<h4 class="sectionsMainTitle">El Recorrido</h4>
		<p class="default-typography">Con una colección única en la región el museo de jade y arte precolombino brinda un recorrido que se desarrolla a lo largo de seis niveles con sus colecciones temáticamente adaptadas para generar una experiencia sensorial con un contenido conceptualizado según su nombre.</p>
		<p class="default-typography">A continuación se muestra información sobre cada una salas:<strong> Umbral, El Jade, El Día,La Memoria Ancestral y El acopio Visitable.</strong></p>
	</div>
	<!--Panel/Imagen el recorrido-->
	<div class="container" id="imgElRecorrido">
		<div class="row">
			<!--DESKTOP-->
			<div class=".col-md-8 d-none d-lg-block d-xl-none d-none d-xl-block">
				<img src="src/images/PlantasRecorrido2.png" class="imgPlantas" usemap="#workmapLarge" />
				<map name="workmapLarge">
					  <area shape="rect" coords="0,80,400,0" alt="Planta nivel 5" ng-click="changeContent('acopio');" class="pointer" ng-mouseover="changeContent('acopio');">
					  <area shape="rect" coords="0,160,400,85" alt="Planta nivel 4" ng-click="changeContent('memoria');" class="pointer" ng-mouseover="changeContent('memoria');">
					  <area shape="rect" coords="0,240,400,17" alt="Planta nivel 3" ng-click="changeContent('elDia');" class="pointer" ng-mouseover="changeContent('elDia');">
					  <area shape="rect" coords="0,320,400,260" alt="Planta nivel 2" ng-click="changeContent('elJade');" class="pointer" ng-mouseover="changeContent('elJade');">
					 <area shape="rect" coords="0,400,400,340" alt="Planta nivel 1" class="pointer" ng-click="changeContent('elUmbral');" ng-mouseover="changeContent('elUmbral');">
				</map>
			</div>
			<!--Tablet-->
			<div class=".col-md-8 d-none d-md-block d-lg-none">
				<img src="src/images/PlantasRecorrido2.png" class="imgPlantas" usemap="#workmapTablet"/>
				<map name="workmapTablet">
				  <area shape="rect" coords="0,60,400,0" alt="Planta nivel 5" class="pointer" ng-mouseover="changeContent('acopio');">
				  <area shape="rect" coords="0,170,400,120" alt="Planta nivel 4" class="pointer" ng-mouseover="changeContent('memoria');">
				  <area shape="rect" coords="0,100,400,60" alt="Planta nivel 3" class="pointer" ng-mouseover="changeContent('elDia');">
				  <area shape="rect" coords="0,220,400,180" alt="Planta nivel 2" class="pointer" ng-mouseover="changeContent('elJade');">
				 <area shape="rect" coords="0,270,400,220" alt="Planta nivel 1" class="pointer" ng-mouseover="changeContent('elUmbral');">
				</map>
			</div>
			<!--MOBILE-->
			<div class=".col-md-8 d-none d-sm-block d-md-none d-block d-sm-none">
				<img src="src/images/PlantasRecorrido2.png" class="imgPlantas" usemap="#workmap"/>
				<map name="workmap">
				  <area shape="rect" coords="0,60,400,0" alt="Planta nivel 5" class="pointer" ng-click="changeContentMobile('acopio');" data-toggle="modal" data-target="#modalRecorrido">
				  <area shape="rect" coords="0,170,400,120" alt="Planta nivel 4" class="pointer" ng-click="changeContentMobile('memoria');" data-toggle="modal" data-target="#modalRecorrido">
				  <area shape="rect" coords="0,100,400,60" alt="Planta nivel 3" class="pointer" ng-click="changeContentMobile('elDia');" data-toggle="modal" data-target="#modalRecorrido">
				  <area shape="rect" coords="0,220,400,180" alt="Planta nivel 2" class="pointer" ng-click="changeContentMobile('elJade');" data-toggle="modal" data-target="#modalRecorrido">
				 <area shape="rect" coords="0,270,400,220" alt="Planta nivel 1" class="pointer" ng-click="changeContentMobile('elUmbral');" data-toggle="modal" data-target="#modalRecorrido">
				</map>
			</div>

			<!--Thumbnail-->	
			<div class="col-xs-6 col-md-3" col-md-4" id="colThumbnail">
				<div class="thumbnailContainer d-none d-lg-block d-md-block" id="containerTemplate" style="{{containerVisibility}}">
				    <div class="thumbnail">
				    	<!--Sala Template-->
					    <div class="caption" id="c_elJade" align="center">
					    	<h3 id="h3_template">{{h3_template}}</h3>
					      	<img id="img_template smaller" src="{{img_template}}" class="imgThumnails" alt="Default">
					      	<br>
					        <p id="p_template" style="{{style_thumbnailParagraph}}" class="pthumbnails">{{p_template}}</p>
					    </div>
					</div>
				</div>
				<!--Sala El Jade-->
				<div class="thumbnailContainer">
				    <div class="thumbnail">
				    	<div class="caption" id="c_elJade" align="center">
					    	<h3 id="h3_elJade">EL JADE</h3>
					      	<img id="img_elJade" src="src/images/sala_elJade.jpg" class="imgThumnails" alt="Sala El Jade">
					      	<br>
					        <p id="p_elJade" class="pthumbnails">En la primera parte de la sala se aborda el proceso de elaboración del jade, asi como su procedencia. En este espacio usted podrá recorrer las rutas por las que se comerciaba este mineral a través de un mapa, más adelante conocerá la manera en que se trabaja en la época precolombina, su simbolismo, su uso social y función en las ceremonias chamanicas.</p>
					    </div>
					</div>
				</div>

				<!--Sala El Umbral-->
				<div class="thumbnailContainer">
				    <div class="thumbnail">	
				    	<div class="caption" id="c_elUmbral" align="center">		
							<h3 id="h3_elUmbral">EL UMBRAL</h3>
					      	<img id="img_elUmbral" src="src/images/sala_elUmbral.jpg" class="imgThumnails" alt="Sala El Umbral">
					      	<br>
					        <p id="p_elUmbral" class="pthumbnails">Se encuentra en el primer nivel del museo. Allí se puede observar una pintura mural obra del pintor costarricense César Valverde Vega. También se encuentra un bloque de jade en bruto, que es el icono del nuevo museo. Este espacio presenta el escenario cultural y ecológico donde se desarrollaron las sociedades precolombinas costarricenses que trabajaron el jade. Busca a partir de un efecto museográfico descubrir la maravilla de las piezas de jade, mediante su exposición en una gran vitrina en forma de serpiente, en donde pueden apreciarse los objetos de jade de la colección.</p>
					    </div>
				    </div>
			    </div>

			    <!--Sala El Dia-->
				<div class="thumbnailContainer">
				    <div class="thumbnail">	
				    	<div class="caption" id="c_elDia" align="center">		
							<h3 id="h3_elDia">EL DIA</h3>
					      	<img id="img_elDia" src="src/images/sala_elDia.jpg" class="imgThumnails" alt="Sala El Dia">
					      	<br>
					        <p id="p_elDia" class="pthumbnails">En esta sala el énfasis está puesto en destacar actividades relacionadas con el día a día de la gente y su relación con el entorno natural y los animales que fueron representados en jade,cerámica,piedra y otros materiales. También se hace una revisión de las principales actividades realizadas tanto para obtener los alimentos como en su cotidianidad, detalles acerca de su arquitectura y parte de su dieta.</p>
					    </div>
				    </div>
			    </div>

			     <!--Sala Memoria ancestral-->
				<div class="thumbnailContainer">
				    <div class="thumbnail">	
				    	<div class="caption" id="c_memoria" align="center">		
							<h3 id="h3_memoria">MEMORIA</h3>
					      	<img id="img_memoria" src="src/images/sala_memoria.jpg" class="imgThumnails" alt="Sala Memoria Ancestral">
					      	<br>
					        <p id="p_memoria" class="pthumbnails">En esta sala se verá la importancia de la arqueología a través de un área de descubrimiento. Se mostrarán las indumentarias precolombinas, el tipo de música que hacian y la significación que le daban, así como la tecnología que empleaban en la elaboración de utensilios tanto de uso cotidiano como ceremoniales. Además se comprobará que existia una diversidad en los roles de género y sexualidad. Finalmente, se verá que hay tradiciones que se conservan hasta hoy en los pueblos indígenas y no indígenas de Costa Rica</p>
					    </div>
				    </div>
			    </div>

			    <!--Sala Acopio-->
				<div class="thumbnailContainer">
				    <div class="thumbnail">	
				    	<div class="caption" id="c_acopio" align="center">		
							<h3 id="h3_acopio">EL ACOPIO</h3>
					      	<img id="img_acopio" src="src/images/sala_acopio.jpg" class="imgThumnails" alt="Sala Acopio">
					      	<br>
					        <p id="p_acopio" class="pthumbnails">En esta sala se resguardan objetos de diferentes materiales (Jade, cerámica, piedra, oro, hueso, concha y madera) de las tres distintas regiones arqueológicas del pais.</p>
					    </div>
				    </div>
			    </div>
			</div>
		</div>
	</div>
	<!--Modal-->

		<!-- Modal Template-->

			<div class="modal modalElRecorrido" id="modalRecorrido" style="{{modalVisibility}}" tabindex="-1" role="dialog">
				 <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				      	<div class="h5Div">
				        <h5 id="modal_title" class="modal_title">{{modal_title}}</h5>
				    </div>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      	<img src="{{modal_img}}" id="modal_image" class="imgModal"/>
				        <p id="modal_paragraph" style="{{style_modalParagraph}}" class="pmodal">{{modal_paragraph}}</p>
				      </div>
				    </div>
				 </div>
			</div>

			<!--El Jade-->
			
					<div class="modal modalElRecorrido" id="modalRecorrido" tabindex="-1" role="dialog">
					 	<div class="modal-dialog" role="document">
							<div class="modal-content">
						      <div class="modal-header">
						        <h5 id="title_elJade" class="modal_title">EL JADE</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="imageModal">
						      	<img src="src/images/sala_elJade.jpg" id="modalImg_elJade" class="imgModal"/>
						      </div>
						      <div class="modal-body">
						        <p id="modalP_elJade" class="pmodal">En la primera parte de la sala se aborda el proceso de elaboración del jade, asi como su procedencia. En este espacio usted podrá recorrer las rutas por las que se comerciaba este mineral a través de un mapa, más adelante conocerá la manera en que se trabaja en la época precolombina, su simbolismo, su uso social y función en las ceremonias chamanicas.</p>
						      </div>
						    </div>
						</div>
					</div>
			<!--El Umbral-->
			
			<div class="modal modalElRecorrido" id="modalRecorrido" tabindex="-1" role="dialog">
			 <div class="modal-dialog" role="document">
			<div class="modal-content">
		      <div class="modal-header">
		        <h5 id="title_elUmbral" class="modal_title">EL UMBRAL</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="imageModal" id="modalRecorrido">
		      	<img src="src/images/sala_elUmbral.jpg" id="modalImg_elUmbral" class="imgModal"/>
		      </div>
		      <div class="modal-body">
		        <p id="modalP_elUmbral" class="pmodal">Se encuentra en el primer nivel del museo. Allí se puede observar una pintura mural obra del pintor costarricense César Valverde Vega. También se encuentra un bloque de jade en bruto, que es el icono del nuevo museo. Este espacio presenta el escenario cultural y ecológico donde se desarrollaron las sociedades precolombinas costarricenses que trabajaron el jade. Busca a partir de un efecto museográfico descubrir la maravilla de las piezas de jade, mediante su exposición en una gran vitrina en forma de serpiente, en donde pueden apreciarse los objetos de jade de la colección.</p>
		      </div>
		    </div>
		</div>
	</div>


			<!--El Dia-->
		
			<div class="modal modalElRecorrido" id="modalRecorrido" tabindex="-1" role="dialog">
			 <div class="modal-dialog" role="document">
			<div class="modal-content">
		      <div class="modal-header">
		        <h5 id="title_elDia" class="modal_title">EL DIA</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<img src="src/images/sala_elDia.jpg" id="modalImg_elDia" class="imgModal"/>
		        <p id="modalP_elDia" class="pmodal">En esta sala el énfasis está puesto en destacar actividades relacionadas con el día a día de la gente y su relación con el entorno natural y los animales que fueron representados en jade,cerámica,piedra y otros materiales. También se hace una revisión de las principales actividades realizadas tanto para obtener los alimentos como en su cotidianidad, detalles acerca de su arquitectura y parte de su dieta.</p>
		      </div>
		    </div>
			</div>
		</div>

		    <!--Memoria-->
		   
		    <div class="modal modalElRecorrido" id="modalRecorrido" tabindex="-1" role="dialog">
			 <div class="modal-dialog" role="document">
			<div class="modal-content">
		      <div class="modal-header">
		        <h5 id="title_memoria" class="modal_title">MEMORIA</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<img src="src/images/sala_memoria.jpg" id="modalImg_memoria" class="imgModal"/>
		        <p id="modalP_memoria" class="pmodal">En esta sala se verá la importancia de la arqueología a través de un área de descubrimiento. Se mostrarán las indumentarias precolombinas, el tipo de música que hacian y la significación que le daban, así como la tecnología que empleaban en la elaboración de utensilios tanto de uso cotidiano como ceremoniales. Además se comprobará que existia una diversidad en los roles de género y sexualidad. Finalmente, se verá que hay tradiciones que se conservan hasta hoy en los pueblos indígenas y no indígenas de Costa Rica.</p>
		      </div>
		    </div>
		</div>
	</div>

		    <!--Acopio-->
		  
		    <div class="modal modalElRecorrido" id="modalRecorrido" tabindex="-1" role="dialog">
			 <div class="modal-dialog" role="document">
			<div class="modal-content">
		      <div class="modal-header">
		        <h5 id="title_acopio" class="modal_title">ACOPIO</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="imageModal">
		      	<img src="src/images/sala_acopio.jpg" id="modalImg_acopio" class="imgModal"/>
		      </div>
		      <div class="modal-body">
		        <p id="modalP_acopio" class="pmodal">En esta sala se resguardan objetos de diferentes materiales (Jade, cerámica, piedra, oro, hueso, concha y madera) de las tres distintas regiones arqueológicas del pais.</p>
		      </div>
		    </div>
		</div>
	</div>

</div>