<div ng-controller="ExhibicionesCtrl" >
    <div class="container">
        <H4>{{tituloPagina}}</H4>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><p>Buscar: <input type="text" ng-model="search" class="subscribe_form_input"></p></div>
        <div class="col-md-4"></div>
    </div>
    <div class="container">
        <div class="pre-scrollable exhibiciones">
            <div class="row"  ng-if="exhibList">
            <div class="col container-style" ng-repeat="x in exhibList | filter : search" ng-if="x.nombre">
                <div class="col-md-8">
                    <div class="card" style="width: 18rem;">
                        <div class="row">
                            <div class="col-md-6 ">
                                <h5 class="card-title">{{ x.nombre }}</h5>
                            </div>
                            <div class="col-md-6 ">
                                <span>{{x.tipo}}</span>
                            </div>
                        </div>
                        <img ng-src="src\images\Exhibiciones\{{x.pics[0]}}" class="card-img-top" ng-click="goToDetail(x.nombre,x.intro,x.descripcion,x.pics)">
                        <div class="card-body">
                            <p class="card-text">{{x.intro}}</p>
                            <input type="button" class="subscribe_btn"value="Ver más" ng-click="goToDetail(x.nombre,x.intro,x.descripcion,x.pics)" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Suscripciones-->
    <div class="container">
        <form name="subscribe_form" method="post" action="" class="subscribe_form">
            <h2>Suscribite</h2>
            <p> Ingresa tu email para recibir más información <br> acerca del museo, actidades y exposiciones</p>

            <input type="email" class="subscribe_form_input" name="subscribe" id="subscribe" placeholder="Email" required="">
            <input type="submit" value="SUSCRIBIRSE" class="subscribe_btn">
        </form>
    </div>
</div>