<div ng-controller="ExhibicionesCtrl" >
    <div class="container">
        <H4 class="montserrat-typography">{{tituloPagina}}</H4>
        <div class="row m-3">
            <div class="col-md-4"></div>
            <div class="col-md-4"><p class="montserrat-typography">Buscar: <input type="text" ng-model="search" style=" padding: 7px 30px; border-radius: 25px;"></p></div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="container">
        <div class="card-deck "  ng-if="exhibList">
            <div class="card" ng-repeat="x in exhibList | filter : search" ng-if="x.nombre">
                <div class="card-header">
                    <div>
                        <h5 class="card-title montserrat-typography" style="display: inline">{{ x.nombre }}</h5>
                        <span class="card-text montserrat-typography float-right"><small class="font-weight-bold">{{x.tipo}}</small></span>
                    </div>
                </div>
                <img ng-src="src\images\Exhibiciones\{{x.pics[0]}}" class="card-img-top" ng-click="goToDetail(x.nombre,x.intro,x.descripcion,x.pics)">
                <div class="card-body">
                    <p class="card-text montserrat-typography" style="text-align: justify">{{x.intro}}</p>
                </div>
                <div class="card-footer bg-transparent text-left" style="border: none">
                    <input type="button" class="subscribe_btn float-left" style="margin-left: 0px !important;" value="Ver más" ng-click="goToDetail(x.nombre,x.intro,x.descripcion,x.pics)" >

                </div>
            </div>
        </div>
    </div>
    <!-- Suscripciones-->
    <div class="container m-4">
        <form name="subscribe_form" method="post" action="" class="subscribe_form">
            <h2>Suscribite</h2>
            <p> Ingresa tu email para recibir más información <br> acerca del museo, actidades y exposiciones</p>

            <input type="email" class="subscribe_form_input" name="subscribe" id="subscribe" placeholder="Email" required="">
            <input type="submit" value="SUSCRIBIRSE" class="subscribe_btn">
        </form>
    </div>
</div>