
    <div ng-controller="InfoPagoCtrl" class="mb-3" >

    <div class="container">
        <h4>Información de pago</h4>

        <form action="" class="container" id="formInfoPago" novalidate>

            <div class="alert alert-danger" role="alert" ng-show="isSelectedFirst">
                <strong>Debe aceptar</strong> los términos y condiciones antes de continuar con el proceso
            </div>

            <div class="container-fluid row ">

                <div class="col-md-4 ">

                    <div class="form-group">
                        <label for="name" class="mt-2">Nombre completo *</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name" required="">
                        <div class="invalid-feedback"> Por favor ingrese un nombre válido</div>

                        <label for="id" class="mt-2">Identificación *</label>
                        <input type="text" class="form-control" id="id" aria-describedby="id" required="">
                        <div class="invalid-feedback"> Por favor ingrese una identificación válida</div>

                        <label for="email" class="mt-2">Correo electrónico *</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email" required="">
                        <div class="invalid-feedback"> Por favor ingrese un correo electrónico válido</div>

                        <label for="phone" class="mt-2">Teléfono *</label>
                        <input type="tel" class="form-control" id="phone" aria-describedby="phone" required="" placeholder="88888888" pattern=".{8,}">
                        <div class="invalid-feedback"> Por favor ingrese un teléfono válido</div>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="form-group">
                        <label for="card" class="mt-2">Número de tarjeta *</label>
                        <input type="number" class="form-control" id="card" aria-describedby="card" required="" placeholder="1234567890123456" pattern="{16}">
                        <div class="invalid-feedback"> Por favor ingrese un número de tarjeta válido</div>


                        <label for="cardType" class="mt-2">Tipo de tarjeta *</label>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="cardType" required="">
                            <option value="2">Débito</option>
                            <option value="3">Crédito</option>
                        </select>

                        <div class="mt-2">
                            <label >Fecha de vecimiento *</label>
                            <form class="form-inline">

                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" style="width: 50%" required="">
                                    <option value="01">Enero</option>
                                    <option value="02">Febrero </option>
                                    <option value="03">Marzo</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Mayo</option>
                                    <option value="06">Junio</option>
                                    <option value="07">Julio</option>
                                    <option value="08">Agosto</option>
                                    <option value="09">Setiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                                <select class="custom-select" style="width: 45%" required="">
                                    <option value="16"> 2016</option>
                                    <option value="17"> 2017</option>
                                    <option value="18"> 2018</option>
                                    <option value="19"> 2019</option>
                                    <option value="20"> 2020</option>
                                    <option value="21"> 2021</option>
                                </select>

                            </form>
                        </div>

                    </div>

                    <div class="form-inline">
                        <label  for="cvv">Código de seguridad *</label>
                        <input type="number" class="form-control" id="cvv" aria-describedby="cvv"  style="width: 90%" required="" placeholder="333">
                        <a href="" style="margin-left: 5px" data-toggle="tooltip" data-placement="right" title="Código de 3 o 4 números situado en el reverso de la tarjeta">
                            <i class="fa fa-question-circle fa-lg"> </i>
                        </a>
                        <div class="invalid-feedback"> Por favor ingrese un código de seguridad válido</div>
                    </div>


                </div>

                <div class="col-md-4 mt-2 d-none d-md-block">
                    <div class="card" style="width: 18rem; text-align: center">
                        <div class="card-body">
                            <h5 class="card-title">Información de compra</h5>

                            <table class="table col-md-8 mt-2">
                                <thead class="border-table">
                                <tr >
                                    <th scope="col" class="default-typography">Tipo</th>
                                    <th scope="col" class="default-typography"></th>
                                    <th scope="col" class="default-typography"><a  href="#" id="updateBoleteria">Editar</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-if="extranjeros > 0">
                                    <td class="m-5 small">Extranjeros</td>
                                    <td class="m-5 small">$15 x {{extranjeros}}</td>
                                    <td class="m-5 small">
                                        {{15 * extranjeros}}
                                    </td>
                                </tr>

                                <tr ng-if="nacionales > 0">
                                    <td class="m-5 small">Nacionales</td>
                                    <td class="m-5 small">$5 x {{nacionales}}</td>
                                    <td class="m-5 small">
                                        {{5 * nacionales}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <p class="card-text" style="text-align: start !important;">Total ${{total}}</p>
                            <div class="align-content-center">
                                <button  class="btn-primary-set payment_button" type="submit" style="width: 50%;" ng-click="submit($event)">Pagar</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="terminosChk" name="terminosChk" ng-model="isSelected" ng-change="setSelected()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description small montserrat-typography">
                    Acepto que he leído y comprendido las políticas de privacidad, términos y condiciones de uso de esta plataforma de compra en línea
                    <a href="">
                       (ver políticas, términos y condiciones)
                    </a>
                </span>

            </div>


        </form>

        <div class="d-block d-md-none d-lg-none d-xl-none">
            <div class="collapse mt-2" id="collapseExample">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Información de compra</h5>

                                <table class="table col-md-8 mt-2">
                                    <thead class="border-table">
                                    <tr >
                                        <th scope="col" class="default-typography">Tipo</th>
                                        <th scope="col" class="default-typography"></th>
                                        <th scope="col" class="default-typography"><a  href="#" id="updateBoleteria2">Editar</a></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-if="extranjeros > 0">
                                        <td class="m-5 small">Extranjeros</td>
                                        <td class="m-5 small">$15 x {{extranjeros}}</td>
                                        <td class="m-5 small">
                                            {{15 * extranjeros}}
                                        </td>
                                    </tr>

                                    <tr ng-if="nacionales > 0">
                                        <td class="m-5 small">Nacionales</td>
                                        <td class="m-5 small">$5 x {{nacionales}}</td>
                                        <td class="m-5 small">
                                            {{5 * nacionales}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

            </div>

            <div style="border: 1px; text-align: center" >
                <div class="card-body">
                    <p>
                        Total {{total}}
                        <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 20%">
                             Detalle de compra <i class="fa" aria-hidden="true"></i>
                        </a>
                        <div >
                            <button class="btn-primary-set payment_button" type="submit" style="width: 50%;" ng-click="submit($event)">Pagar</button>
                        </div>
                    </p>

                </div>
            </div>


        </div>

    </div>
</div>